@import 'common/reset';
@import 'common/typography';

header,
main {
  padding: 5vw;
  padding: 5vw;
}

main {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  width: calc(33.33% - 1.25vw);
  margin-bottom: 2.5vw;

  &:nth-of-type(3n) {
    transform: translateY(-5vw);
  }

  &:nth-of-type(3n + 2) {
    transform: translateY(5vw);
  }
}
